/* Nav */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 98%;
  height: 50px;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
li{
  list-style: none;
}
.logo a{
  font-size: 20px;
  font-weight: 600;
}
/* Nav */
/* Home */
.welcome{
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
  margin: 0 auto;
  width: 98%;
}
.txt-info{
  width: 50%;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.btn-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.showreel{
  margin-top: 30px;
  height: 420px;
  width: 100%;
  object-fit: cover;
  overflow-y: hidden;
}
/* Home */
/* Generate */
.txt-generation{
  margin: 30px auto 0 auto;
  width: 98%;
}
.input{
  background-color: #E4E4E4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 15px;
  width: 96.5%;
  height: 200px;
  bottom: 10px;
  left: 10px;
}
.input input{
  font-family: 'manrope';
  border: none;
  outline: none;
  background-color: transparent;
  padding-bottom: 130px;
  font-size: 16px;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btn button{
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
/* Generate */
/* Sample */
.sample{
  margin-top: 30px;
}
.sample-audio{
  display: flex;
  margin-top: 200px;
  justify-content: center;
}
/* Sample */
/* Loading */
.loading-wrapper{
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  opacity: 0.8; 
}
.loader{
  z-index: 2;
}
.txt-loader{
  z-index: 2;
}
.txt-loader p{
  font-size: 20px;
}
/* Loading */
/* EditAudio */
.edit-audio-wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.go-back{
  position: absolute;
  top: 10px;
  left: 15px;
}
.go-back button{
  font-size: 20px;
  font-weight: 200;
  color: #838383;
}
/* EditAudio */